  <footer class="site-footer">
    <div class="container footer-grid">
      <div>
        <h4>TudatAI</h4>
        <p>Email: tudatai@protonmail.com</p>
        <p>Az oldal nem használ sütiket (cookies).</p>
      </div>
      <div>
        <h4>Gyors linkek</h4>
        <p><a href="/">Főoldal</a></p>
        <p><a href="/about">Rólunk</a></p>
        <p><a href="/contact">Kapcsolat</a></p>
      </div>
      <div>
        <h4>Jogi nyilatkozat</h4>
        <p>&copy; 2026 TudatAI. Minden jog fenntartva.</p>
        <p><a href="/privacy">Adatvédelmi irányelvek</a> és <a href="/terms">ÁSZF</a>.</p>
      </div>
    </div>
  </footer>
</body>
</html>