<%- include('partials/header') %>

  <section class="hero">
    <div class="container">
      <h1>Innováció + Megbízhatóság = Tudat.AI</h1>
      <p>Professzionális szoftverfejlesztés, felhőalapú infrastruktúra és üzleti tanácsadás cégeknek, amelyek a jövőbe szeretnének lépni.</p>
      <a href="#products" class="btn">Ismerje meg termékeinket</a>
    </div>
  </section>

  <section id="products" class="features">
    <div class="container">
      <h2>Termékeink</h2>
      <p>Többéves tapasztalattal fejlesztett, skálázható online AI megoldások</p>
      </br>
      <div class="grid">
        <article class="card">
          <h3>Okos vállalatirányítás</h3>
          <p>Teljes körű ERP platform, amely automatizálja a mindennapi folyamatokat, növeli hatékonyságot és csökkenti a hibákat.</p>
        </article>
        <article class="card">
          <h3>Felhő és DevOps</h3>
          <p>Biztonságos felhőmigráció, CI/CD csővezetékezés és folyamatos rendszergazda támogatás.</p>
        </article>
        <article class="card">
          <h3>Adatvezérelt döntéstámogatás</h3>
          <p>Üzleti intelligencia dashboardok, valós idejű elemzések és prediktív modellek.</p>
        </article>
      </div>
      </br>
      <p>A legmodernebb offline, egyedi igényekre szabható megoldások</p>
      </br>
      <div class="grid">
        <article class="card">
          <h3>Okos vállalatirányítás</h3>
          <p>Teljes körű ERP platform, amely automatizálja a mindennapi folyamatokat, növeli hatékonyságot és csökkenti a hibákat.</p>
        </article>
        <article class="card">
          <h3>Felhő és DevOps</h3>
          <p>Biztonságos felhőmigráció, CI/CD csővezetékezés és folyamatos rendszergazda támogatás.</p>
        </article>
        <article class="card">
          <h3>Adatvezérelt döntéstámogatás</h3>
          <p>Üzleti intelligencia dashboardok, valós idejű elemzések és prediktív modellek.</p>
        </article>
      </div>
    </div>
  </section>

  <section class="about-preview">
    <div class="container">
      <h2>Rólunk</h2>
      <p>Az OptiTech csapata kis- és középvállalatok számára megfizethető, de prémium szintű IT szállítási szolgáltatásokat nyújt. Célunk, hogy minden ügyfelünk hosszú távon nyerje vissza befektetését.</p>
      </br>
      <a href="/about" class="btn">Tovább a Rólunk oldalra</a>
    </div>
  </section>

<%- include('partials/footer') %>