<%- include('partials/header') %>
  </br>
  </br>
  <main class="container about-page">
    <h1>Adatvédelmi irányelvek</h1>
    </br>
    <p>Az TudatAI elkötelezett az Ön személyes adatainak védelme mellett. Ez az adatvédelmi irányelv tájékoztatást nyújt arról, hogyan gyűjtjük, használjuk és védjük az Ön adatait.</p>
    </br>
    <section class="values">
      <h2>Adatgyűjtés</h2>
      <p>Személyes adatokat gyűjtünk, amikor kapcsolatba lép velünk, például a kapcsolatfelvételi űrlapon keresztül vagy amikor feliratkozik hírlevelünkre.</p>

      </br>
      <h2>Adatok használata</h2>
      <p>Az összegyűjtött adatokat arra használjuk, hogy válaszoljunk az Ön kérdéseire, szolgáltatásokat nyújtsunk, és javítsuk weboldalunkat.</p>

      </br>
      <h2>Adatok megosztása</h2>
      <p>Nem adjuk el vagy osztjuk meg személyes adatait harmadik felekkel, kivéve ha az szükséges a szolgáltatás nyújtásához vagy jogi kötelezettség miatt.</p>

      </br>
      <h2>Adatok biztonsága</h2>
      <p>Minden ésszerű intézkedést megteszünk az Ön adatainak védelme érdekében, beleértve a titkosítást és a hozzáférés korlátozását.</p>

      </br>
      <h2>Jogai</h2>
      <p>Joga van hozzáférni, módosítani vagy törölni személyes adatait. Kérjük, lépjen kapcsolatba velünk az tudatai@protonmail.com címen.</p>
    </section>
  </main>
  </br>
  </br>
<%- include('partials/footer') %>