<%- include('partials/header') %>
  </br>
  </br>
  <main class="container about-page">
    <h1>Adatvédelmi tájékoztató</h1>
    </br>
    <h2>1. Bevezetés</h2>
    <p>Jelen adatvédelmi tájékoztató célja, hogy ismertesse, hogyan kezeljük a weboldalon keresztül megadott személyes adatokat.</p>
    <p>Az adatkezelő elkötelezett a személyes adatok védelme iránt, és az adatkezelést a hatályos jogszabályoknak megfelelően végzi.</p>
    </br>
    <h2>2. Az adatkezelő adatai</h2>
    <p>Név: TudatAI</p>
    <p>Székhely: Budapest XIV Erdőkerülő utca 21.</p>
    <p>E-mail: tudatai@protonmail.com</p>
    </br>
    <h2>3. A kezelt adatok köre</h2>
    <p>A weboldalon található kapcsolatfelvételi űrlapon keresztül az alábbi adatokat kezeljük:</p>
    <p>- E-mail cím</p>
    <p>- Az üzenetben megadott egyéb személyes adatok</p>
    </br>
    <h2>4. Az adatkezelés célja</h2>
    <p>Az adatkezelés célja:</p>
    <p>- Kapcsolatfelvétel biztosítása</p>
    <p>- Beérkező megkeresések megválaszolása</p>
    </br>
    <h2>5. Az adatkezelés jogalapja</h2>
    <p>Az adatkezelés jogalapja az érintett önkéntes hozzájárulása, amelyet az űrlap elküldésével ad meg.</p>
    </br>
    <h2>6. Az adatok tárolásának időtartama</h2>
    <p>A személyes adatokat:</p>
    <p>- a kapcsolatfelvétel lezárásáig, vagy</p>
    <p>- legfeljebb 6 hónapig</p>
    <p>őrizzük meg, kivéve, ha jogszabály hosszabb megőrzési időt ír elő.</p>
    </br>
    <h2>7. Adattovábbítás</h2>
    <p>A személyes adatokat harmadik fél részére nem továbbítjuk, kivéve:</p>
    <p>- jogszabályi kötelezettség esetén</p>
    </br>
    <h2>8. Adatfeldolgozók</h2>
    <p>A weboldal működtetése során az alábbi adatfeldolgozók vehetnek részt:</p>
    <p>- Tárhelyszolgáltató - Amazon Web Services</p>
    </br>
    <h2>9. Az érintettek jogai</h2>
    <p>Az érintettek jogosultak:</p>
    <p>- tájékoztatást kérni a kezelt adataikról</p>
    <p>- kérni az adatok helyesbítését</p>
    <p>- kérni az adatok törlését</p>
    <p>- kérni az adatkezelés korlátozását</p>
    <p>- tiltakozni az adatkezelés ellen</p>
    <p>Jogérvényesítés: tudatai@protonmail.com</p>
    </br>
    <h2>10. Jogorvoslati lehetőségek</h2>
    <p>Az érintett panasszal fordulhat a felügyeleti hatósághoz, vagy bírósághoz fordulhat.</p>
    <p>Felügyeleti hatóság:</p>
    <p>Nemzeti Adatvédelmi és Információszabadság Hatóság (NAIH)</p>
    <p>Cím: 1055 Budapest, Falk Miksa utca 9-11.</p>
    <p>Web: https://naih.hu</p>
    </br>
    <h2>11. Egyéb rendelkezések</h2>
    <p>Az adatkezelő fenntartja a jogot jelen tájékoztató módosítására. A módosított verzió a weboldalon történő közzététellel lép hatályba.</p>
    <p>Hatálybalépés dátuma: 2026. március 25.</p>
  </main>
  </br>
  </br>
<%- include('partials/footer') %>